/* 공통속성 */
*{box-sizing: border-box; margin: 0; padding: 0;}
a{text-decoration: none; color: black;}
li{list-style: none;}
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body{font-family:NanumSquareNeoBold, sans-serif;}

/* 레이아웃 */
#header{width: 100%; height: 100px; background: white; position: fixed; top: 0; left: 0; z-index: 9999;}
.container{width: 1461px; height: inherit; background: white; margin: 0 auto; padding: 0 0 0 60px;}
h1{position: absolute;}
h1>a{display: block; padding-top: 18px;}
#nav>.bg{background:#fff url(../img/main/logo_2.jpg) no-repeat 300px 0; width:100%; position: absolute; top: 80px; height: 0; left: 0;}
#nav:hover>.bg{height: 310px;}
#nav>ul{width: 1050px; height: 90px; position: absolute; left: 70%; transform: translateX(-70%);}
#nav>ul>li{float: left; width: 150px; line-height: 70px; text-align: center;}
#nav>ul>li>a{display: block; color: black; font-size: 19.2px; font-weight: bold;}
#nav>ul>li:hover>a{color: #186116;}
#nav>ul>li>ul{position: absolute; width: 940px; height: 271px; text-align: left; height: 0; overflow: hidden; line-height: 200%; background: white; margin-left: 25px;}
#nav:hover>ul>li>ul{height: 310px; overflow: visible;}
#nav>ul>li>ul>li>a{font-size: 14px; padding: 5px 0; letter-spacing: -0.08em; margin-bottom: 5px;}
#nav>ul>li>ul>li:hover>a{color: #186116; text-decoration: underline;}

#section1{width: 100%; height: 650px; background: gray; overflow: hidden;}
#section1 .mainSlide{width: 1600px; height: 650px; margin: 0 auto; overflow: hidden;}
#section1 .mainSlide iframe{width: 1600px; height: 650px; margin: 0 auto; overflow: hidden;}

#section2{width: 100%; height: 355px; position: relative; z-index: 9; top: 20px;}
.mainInfo{width: 1461px; height: 355px; margin: 0 auto; padding: 0 0 10px 0;}
.mainInfo h2{text-align: center; font-size: 38px; font-weight: bold;}
.mainInfo h2>span{font-weight: normal;}
.mainInfo h3{text-align: center; color: rgb(100, 100, 100); font-size: 16px; opacity: 60%; margin-top: 15px;}

#section2 .inner1{width: 1116px; height: 195px; background: linear-gradient(110deg, #f9ffeb,#c5d699, #7a9c24); border: 2px solid #7a9c24; border-radius: 60px 0; position: relative; top: 30px; left: 180px; z-index: 99; display: flex;}
#section2 .inner1 .inner_list{margin-top: 20px; font-size: 16px; width: 74%; display: flex; font-weight: bold; justify-content: space-between; padding: 5px 30px; line-height: 200%;}
#section2 .inner1 .inner_list .item3 span{color: white;}
#section2 .inner1 .inner_list .item4 span{color: white;}
#section2 .inner1 .inner_list .item5 span{color: white;}
#section2 .inner1 .inner_list span::before{content: ''; display: block; position: absolute;
top: 12px; left: 3px; width: 6px; height: 1px; background-color: #fff; opacity: 0.9;
transition: all 0.2s linear;}
#section2 .inner1 .inner_list span:hover{background-color: #bfffa1;}
#section2 .inner1 .logo img{margin: 30px;}
.inner1::before{content: ''; display: block; position: absolute; bottom: 200px; right: -10px; width: 233px; height: 180px; background: url(../img/main/info_bg_logo.png) no-repeat 0px 0px;}

#section3{width: 100%; height: 450px;}
.mainNews{width: 1120px; height: 450px; margin: 0 auto; padding: 30px 0;}
.mainNews .pic1{background: url(../img/main/info_1.png); float: left; width: 260px; height: 350px; margin: 0 10px; border: 1px solid #d6d6d6; border-radius: 15px 0;}
.mainNews .pic1>strong{color: #6c6c6c; padding: 30px 10px; font-size: 20px; font-weight: bold; letter-spacing: -0.03em; line-height: 120%; display: block; text-align: center;}
.mainNews .pic1>p{padding: 0px 10px; font-size: 12px; color: #939393;
letter-spacing: -0.1em; line-height: 120%; text-align: center;}
.mainNews .pic2{background: url(../img/main/info_2.png); float: left; width: 260px; height: 350px; margin: 0 10px; border: 1px solid #d6d6d6; border-radius: 15px 0;}
.mainNews .pic2>strong{display: block; padding: 30px 10px; font-size: 20px; color: #6c6c6c; letter-spacing: -0.03em; line-height: 120%; text-align: center; font-weight: bold;}
.mainNews .pic2>p{display: block; padding: 0px 10px; font-size: 12px; color: #939393; letter-spacing: -0.1em; line-height: 120%; text-align: center;}
.mainNews .pic3{background: url(../img/main/info_3.png); float: left; width: 260px; height: 350px; margin: 0 10px; border: 1px solid #d6d6d6; border-radius: 15px 0;}
.mainNews .pic3>strong{display: block; padding: 30px 10px; font-size: 20px; color: white;
letter-spacing: -0.03em; line-height: 120%; text-align: center; font-weight: bold;}
.mainNews .pic3>p{display: block; padding: 0px 10px; font-size: 12px; color: white;
letter-spacing: -0.1em; line-height: 120%; text-align: center;}
.mainNews .pic4{background: url(../img/main/info_4.png); float: left; width: 260px; height: 350px; margin: 0 10px; border: 1px solid #d6d6d6; border-radius: 15px 0;}
.mainNews .pic4>strong{display: block; padding: 30px 10px; font-size: 20px; color: white; letter-spacing: -0.03em; line-height: 120%; text-align: center; font-weight: bold;}
.mainNews .pic4>p{display: block; padding: 0px 10px; font-size: 12px; color: white;
letter-spacing: -0.1em; line-height: 120%; text-align: center;}

#section4{width: 100%; height: 300px; position: relative;}
.notice{display: flex; gap: 0.2rem; flex-direction: row; align-items: flex-start; justify-content: space-around;}
.unitForm{text-align: center;}
.notice .notice_left{flex: 1; padding-right: 2rem;}
#radioToggle1-1{position: absolute; width: 0px; height: 0px; padding: 0;margin: -1px;
overflow: hidden; clip: rect(0, 0, 0, 0); border: 0;}
#radioToggle1-2{position: absolute; width: 0px; height: 0px; padding: 0;margin: -1px;
overflow: hidden; clip: rect(0, 0, 0, 0); border: 0;}
#radioToggle1-3{position: absolute; width: 0px; height: 0px; padding: 0;margin: -1px;
overflow: hidden; clip: rect(0, 0, 0, 0); border: 0;}
#radioToggle1-4{position: absolute; width: 0px; height: 0px; padding: 0;margin: -1px;
overflow: hidden; clip: rect(0, 0, 0, 0); border: 0;}
#radioToggle1-5{position: absolute; width: 0px; height: 0px; padding: 0;margin: -1px;
overflow: hidden; clip: rect(0, 0, 0, 0); border: 0;}
label{display: flex; align-items: center; flex-direction: row; justify-content: center; font-size: 18px; width: 96px; height: 35px; background-color: #f5f5f5; color: #969696; transition: all 0.2s ease 0.1s;}

.notice .notice_right{width: 456px; height: 300px; background: navy;}

#section5{width: 100%; height: 272px;}
.mainGallery{width: 1120px; height: 272px; margin: 0 auto; padding: 50px 0;}
.mainGallery .desc{font-size: 20px; letter-spacing: -0.08em; line-height: 110%; text-align: left; margin-left: 20px; margin-bottom: 10px; margin-top: -20px; font-weight: bold;}
.mainGallery .pic1{float: left; width: 260px; margin: 0 10px; height: 160px; border: 0px solid #d6d6d6; border-radius: 30px 0;}
.mainGallery .pic1 img{width: 260px; height: 160px; border: 0; border-radius: 15px 0;  margin: 0 10px;}
.mainGallery .pic1>strong{display: block; padding-top: 10px; font-weight: bold; font-size: 16px; color: #6c6c6c; letter-spacing: -0.03em; line-height: 120%; text-align: center;}
.mainGallery .pic1>p{display: block; font-size: 14px; color: #939393; letter-spacing: 0em; line-height: 120%;text-align: center;}
.mainGallery .pic2{float: left; width: 260px; margin: 0 10px; height: 160px; border: 0px solid #d6d6d6; border-radius: 30px 0;}
.mainGallery .pic2 img{width: 260px; height: 160px; border: 0; border-radius: 15px 0;  margin: 0 10px;}
.mainGallery .pic2>strong{display: block; padding-top: 10px; font-weight: bold; font-size: 16px; color: #6c6c6c; letter-spacing: -0.03em; line-height: 120%; text-align: center;}
.mainGallery .pic2>p{display: block; font-size: 14px; color: #939393; letter-spacing: 0em; line-height: 120%; text-align: center;}
.mainGallery .pic3{float: left; width: 260px; margin: 0 10px; height: 160px; border: 0px solid #d6d6d6; border-radius: 30px 0;}
.mainGallery .pic3 img{width: 260px; height: 160px; border: 0; border-radius: 15px 0;  margin: 0 10px;}
.mainGallery .pic3>strong{display: block; padding-top: 10px; font-weight: bold; font-size: 16px; color: #6c6c6c; letter-spacing: -0.03em; line-height: 120%; text-align: center;}
.mainGallery .pic3>p{display: block;  font-size: 14px; color: #939393; letter-spacing: 0em; line-height: 120%; text-align: center;}
.mainGallery .pic4{float: left; width: 260px; margin: 0 10px; height: 160px; border: 0px solid #d6d6d6; border-radius: 30px 0;}
.mainGallery .pic4 img{width: 260px; height: 160px; border: 0; border-radius: 15px 0;  margin: 0 10px;}
.mainGallery .pic4>strong{display: block; padding-top: 10px; font-weight: bold; font-size: 16px; color: #6c6c6c; letter-spacing: -0.03em; line-height: 120%; text-align: center;}
.mainGallery .pic4>p{display: block; font-size: 14px; color: #939393; letter-spacing: 0em; line-height: 120%; text-align: center;}

#section6{width: 100%; height: 370px;}
.mainInfo2{width: 1120px; height: 370px; margin: 0 auto; padding: 50px 0;}
.mainInfo2 .rect1{float: left; width: 260px; margin: 0 10px; height: 270px; background: #627ad0; border-radius: 30px 0;}
.mainInfo2 .rect1 .pic_icon{font-size: 4.7em; margin: 20px 85px; color: white;}
.mainInfo2 .rect1 strong{display: block; padding: 0px 10px; font-weight: bold; font-size: 22px; letter-spacing: -0.03em; line-height: 120%; text-align: center;}
.mainInfo2 .rect1 p{display: block; padding: 15px 10px; font-size: 12px; letter-spacing: -0.1em; line-height: 120%; text-align: center;}
.mainInfo2 .rect1 .btn2_1{display: inline-block; width: 104px; height: 38px; margin: 2px; padding: 10px 0 8px 0; font-size: 15px; font-weight: bold; color: #fff; letter-spacing: -0.05em; line-height: 120%; border-radius: 3px; border: 1px solid #fff; transition: all .2s; margin-left: 15px; text-align: center;}
.mainInfo2 .rect1 .btn2_1:hover{background: #b1c2ff; color: #fff; transition: all .2s;}

.mainInfo2 .rect2{float: left; width: 260px; margin: 0 10px; height: 270px; background: #2763bb; border-radius: 30px 0;}
.mainInfo2 .rect2 .pic_icon{font-size: 4.7em; margin: 20px 88px; color: white;}
.mainInfo2 .rect2 strong{display: block; padding: 0px 10px; font-weight: bold; font-size: 22px; letter-spacing: -0.03em; line-height: 120%; text-align: center;}
.mainInfo2 .rect2 p{display: block; padding: 15px 10px; font-size: 12px; letter-spacing: -0.1em; line-height: 120%; text-align: center;}
.mainInfo2 .rect2 .btn2_2{display: inline-block; width: 104px; height: 38px; margin: 2px; padding: 10px 0 8px 0; font-size: 15px; font-weight: bold; color: #fff; letter-spacing: -0.05em; line-height: 120%; border-radius: 3px; border: 1px solid #fff; transition: all .2s; margin-left: 15px; text-align: center;}
.mainInfo2 .rect2 .btn2_2:hover{background: #708db9; color: #fff; transition: all .2s;}

.mainInfo2 .rect3{float: left; width: 260px; margin: 0 10px; height: 270px; background: #2da490; border-radius: 30px 0;}
.mainInfo2 .rect3 .pic_icon{font-size: 4.7em; margin: 20px 83px; color: white;}
.mainInfo2 .rect3 strong{display: block; padding: 0px 10px; font-weight: bold; font-size: 22px; letter-spacing: -0.03em; line-height: 120%; text-align: center;}
.mainInfo2 .rect3 p{display: block; padding: 15px 10px; font-size: 12px; letter-spacing: -0.1em; line-height: 120%; text-align: center;}
.mainInfo2 .rect3 .btn2_3{display: inline-block; width: 104px; height: 38px; margin: 2px; padding: 10px 0 8px 0; font-size: 15px; font-weight: bold; color: #fff; letter-spacing: -0.05em; line-height: 120%; border-radius: 3px; border: 1px solid #fff; transition: all .2s; margin-left: 15px; text-align: center;}
.mainInfo2 .rect3 .btn2_3:hover{background: #1a6155; color: #fff; transition: all .2s;}

.mainInfo2 .rect4{float: left; width: 260px; margin: 0 10px; height: 270px; background: #3397b7; border-radius: 30px 0;}
.mainInfo2 .rect4 .pic_icon{font-size: 4.7em; margin: 20px 88px; color: white;}
.mainInfo2 .rect4 strong{display: block; padding: 0px 10px; font-weight: bold; font-size: 22px; letter-spacing: -0.03em; line-height: 120%; text-align: center;}
.mainInfo2 .rect4 p{display: block; padding: 15px 10px; font-size: 12px; letter-spacing: -0.1em; line-height: 120%; text-align: center;}
.mainInfo2 .rect4 .btn2_4{display: inline-block; width: 104px; height: 38px; margin: 2px; padding: 10px 0 8px 0; font-size: 15px; font-weight: bold; color: #fff; letter-spacing: -0.05em; line-height: 120%; border-radius: 3px; border: 1px solid #fff; transition: all .2s; margin-left: 15px; text-align: center;}
.mainInfo2 .rect4 .btn2_4:hover{background: #1b4d5d; color: #fff; transition: all .2s;}

#section7{width: 100%; height: 354px; background: url(../img/main/main_youtube_2.png);}
.mainYoutube{width: 1461px; height: 354px; margin: 0 auto;}
.mainYoutube h2{text-align: center; color: white; font-size: 38px; text-shadow: 2px 2px 2px black; padding: 0 0 5px; display: block; padding: 0 0 5px 0; letter-spacing: -0.08em; line-height: 120%;}
.mainYoutube h3{text-align: center; font-size: 16px; letter-spacing: -0.08em; line-height: 120%; color: #636363;}
.mainYoutube .you-List{display: flex; justify-content: space-between; margin-top: 20px;}
.mainYoutube .you-List iframe{width: 424px; height: 239px; border-radius: 30px 0; margin-left: 50px;}
.mainYoutube .you-List iframe:hover{background: rgba(0,0,0,0.6); z-index: 9;}


#section8{width: 100%; height: 315px; background: #f2f3f5;}
.mainClick{padding: 30px 0; text-align: center;}
.mainClick h2{text-align: center; font-weight: bold; display: block; padding: 0 0 20px 0; font-size: 34px; letter-spacing: -0.05em; line-height: 120%;}
.mainClick h2 span{font-weight: normal;}
.mainClick h3{text-align: center; font-size: 16px; letter-spacing: -0.08em; line-height: 120%; color: #acacac;}
.mainClick>a>li{display: inline-block; width: 15%; margin: 0 0.5% 1%; background: #fff; border-radius: 30px; height: 100px; text-align: center; margin-top: 35px;}
.mainClick>a>li>i{font-size: 27px; color: #32540a; margin: 10px auto;}
.mainClick>a>li>strong{display: block; color: #767676; letter-spacing: -0.05em; line-height: 120%; text-align: center; font-size: 20px; font-weight: bold;}
.mainClick>a>li:hover>strong{color: #2f550c; font-size: bold; transition: all .2s;}
.mainClick>a>li>p{padding: 5px 10px; font-size: 13px; color:#939393; letter-spacing: -0.05em; line-height: 120%; text-align: center;}

#section9{width: 100%; height: 203px; background:#f2f3f5;}
.mainClick2{width: 1250px; height: 203px;  margin: 0 auto;}
.mainClick2 li{display: inline-block; width: 18.5%; margin: 0 0.5% 1%; background: #f2f3f5; border-radius: 15px 0; padding-bottom: 10px; height: 55px; border: 1px solid #cecece; padding-top: 15px; font-weight: bold; font-size: 18px; color: #767676; letter-spacing: -0.05em; line-height: 120%; transition: all .2s; text-align: center;}
.mainClick2 li:hover{color: #fff; font-weight: bold; transition: all .2s; background: #699827;}

#section10{width: 100%; height: 700px; background:#f2f3f5;}
.mainMap{margin: 0 auto; padding-top: 45px;}
.mainMap>h2{font-size:32px; color:#121212; text-align: center; font-weight: bold;}
.mainMap>h2>span{font-weight: normal;}
.mapFlexZone{display: flex; justify-content: flex-start; gap: 4rem; flex-direction: row; align-items: flex-start; margin: auto; width: 1040px;}
.mapFlexZone .leftSide{width: 600px; padding-top: 30px;}
.leftSide .radioForm2{max-width: 600px; flex-wrap: wrap; height: auto; display: flex;}
.leftSide .radioForm2 .unitForm{display: flex; align-items: center; flex-direction: row; justify-content: center; font-size: 14px; width: 24%; height: 35px; margin: 2px; background-color: #fff; color: #969696; transition: all 0.2s ease 0.1s; border-radius: 8px 0;}
.leftSide .radioForm2 .unitForm:nth-child(1){color: white; background-color: #4f7b00;}
.leftSide .infoCont{font-size: 32px; line-height: 34px; text-align: left; letter-spacing: -1px;}
.leftSide .infoCont .tit_1{color: #6c8c23; font-weight: bold; padding-top: 30px; letter-spacing: -2.5px;}
.unitList>img{margin-top: 25px; margin-bottom: 10px;}
.unitList>li{position: relative; display: block; padding: 0 0 0 10px; color: inherit; font-size: 14px;}
.unitList>li::before{content: ''; position: absolute; top: 1rem; left: 0; width: 5px; height: 1px; background-color: #bbb;}
.infoCont .btn2_2{display: inline-block; width: 40%; margin: 2px; padding: 10px 0 8px 0;
font-size: 15px; color: #8b8b8b; letter-spacing: -0.05em; line-height: 120%;
background: transparent; border-radius: 5px; border: 2px solid #bdbdbd; transition: all .2s;}
.infoCont .btn2_2:nth-child(1){}
.infoCont .btn2_2:hover{background: #4F7B00; color: #fff; transition: all .2s;}
.mapFlexZone .rightSide img{vertical-align: middle;}


#section11{width: 100%; height: 109px; background:white;}
.bannerArea{width: 1100px; height: 102px; margin: 0 auto; padding: 10px 0; overflow: hidden; position: relative;}
.bannerArea .area{width: 1472px; position: relative; left:0}
.bannerArea .area li{float: left; width: 184px;}
.bannerArea .area li a{display: block;}
.bannerArea .area li a img{width: 100%;}


#footer{width: 100%; height: 241px; background: #31354e; color: #909095; font-size: 15px; letter-spacing: -0.42px;}
.footerMenu{height: 60px; width:100%; margin: 0 auto; background: #21263a;}
.footerMenu>ul>li{padding-right: 50px; text-align: center; position: relative; display: inline-block; line-height: 36px; font-weight: bold; left: 22%; top: 10px;}
.footerMenu>ul>li>a{color: white;}
.footerMenu2{height: 51px; border-bottom: 1px solid rgba(255,255,255,0.1);}
.footerMenu2>ul>li{position: relative; display: inline-block; padding-right: 10px;
margin-right: 10px; left: 22.5%; top: 18px;}
.footerMenu2>ul>li>a{color: #909095;}
.footerMenu2>ul>li>a:hover{color: yellow;}
.footerMenu2>ul>li:first-child a{color:#9dc0ff; font-weight: bold;}
.footerMenu2>.siteList>button{display: block; position: relative; width: 174.3px; height: 36px; padding: 0 27px 0 15px; border: 1px solid #909095; line-height: 34px; text-align: left; left: 74.3%; top: -8px; background-color: #31354e;}
.footerMenu2>.siteList>button>span{position: relative; color: #b4b4b4; font-size: 15px;}
.footerMenu2>.siteList>button::after{content: ''; display: block; position: absolute; right: 15px; top: 50%; margin-top: -3px; width: 10px; height: 7px; background: url(../img/main/select_footer.png) no-repeat;}
.footerLast{height: 120px; width: 1321px; margin: 0 auto;}
.footerLast>.footerLogo>img{width: 65px;}
.footerInfo{width: 1149px; height: 45px; margin-top: 4px; line-height: 20px; font-size: 14px; font-weight: bold;}
.footerInfo>address{display: block; position: absolute; left: 22.5%;}
.footerInfo .footer-copyright{margin-top: 5px;}
.footerMark{float: right; position: absolute; right: 320px;}

.go-top{position: fixed; right: 20px; width: 100px; bottom: 20px; transition: all .8s; z-index: 999999;}
.go-top .gotoUl{display: flex; flex-wrap: wrap;}
.go-top .gotoUl span{ display: block; font-size: 10px; color: #fff; font-family: 'NanumSquareNeoExtraBold';}

.go-top .gotoUl .naver{font-family: 'NanumSquareNeoExtraBold'; width: 80px; height: 80px; text-align: center; font-size: 18px; border-radius: 100px; background:#03c75a; margin-bottom: 10px; padding-top: 15px;}
.go-top .gotoUl .naver span{padding-top: 5px;}
.naver i::before{font-size: 30px; color: #fff;}

.go-top .gotoUl .phone{font-family: 'NanumSquareNeoExtraBold'; width: 80px; height: 80px; text-align: center; font-size: 12px; border-radius: 100px; background:#b50f0f; margin-bottom: 10px; padding-top: 15px;} 
.go-top .gotoUl .phone span{font-size: 12px; font-weight: normal; font-style: normal; display: block; padding-top: 5px;}
.phone i::before{font-size: 30px; color: #fff;}

.go-top .gotoUl .insta{font-family: 'NanumSquareNeoExtraBold'; width: 80px; height: 80px; text-align: center; font-size: 18px; border-radius: 100px; background:#984ac2; margin-bottom: 10px; padding-top: 15px;} 
.go-top .gotoUl .insta span{padding-top: 5px;}
.insta i::before{font-size: 30px; color: #fff;}

.go-top .gotoUl .facebook{font-family: 'NanumSquareNeoExtraBold'; width: 80px; height: 80px; text-align: center; font-size: 18px; border-radius: 100px; background:#0067b0;
margin-bottom: 10px; padding-top: 15px;} 
.go-top .gotoUl .facebook span{padding-top: 5px;}
.facebook i::before{font-size: 30px; color: #fff;}

.go-top .gotoUl .kakao{font-family: 'NanumSquareNeoExtraBold'; width: 80px; height: 80px; text-align: center; font-size: 18px; border-radius: 100px; background:#f2dc00; padding-top: 15px;} 
.go-top .gotoUl .kakao span{color: #3a1d1d; font-size: 10px; font-weight: normal; font-style: normal; display: block; padding-top: 5px;}
.kakao i::before{font-size: 30px; color: #3a1d1d;}

